.wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 159, 252);
  padding-right: 10px;
}

.image {
  border-radius: 10px 0px 0px 10px;
  margin-right: 50px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
}

.bold {
  color: black;
}

.margin {
  margin-right: 5px;
}

.infoSpan {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 15%;
  font-size: 22px;
  color: white;
}

.infoDescription {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 55%;
  font-size: 22px;
  color: white;

  overflow: hidden;
  word-wrap: break-word;
}

@media (max-width: 1300px) {
  .image {
    margin-right: 10px;
  }

  .infoSpan {
    font-size: 18px;
  }

  .infoDescription {
    font-size: 18px;
  }
}

@media (max-width: 980px) {
  .image {
    margin-right: 10px;
  }
}

@media (max-width: 980px) {
  .infoSpan {
    font-size: 16px;
  }

  .infoDescription {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .infoSpan {
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .infoDescription {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .infoSpan {
    font-size: 14px;
  }
  .infoDescription {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .infoSpan {
    font-size: 12px;
  }
  .infoDescription {
    font-size: 11px;
  }
}

@media (max-width: 430px) {
  .infoSpan {
    font-size: 10px;
  }
  .infoDescription {
    font-size: 9px;
  }
}
